*{
    box-sizing: border-box;
    }
    
    .cal{
    display: flex;
    flex-direction: column;   
    justify-content: center;    
    height: 100vh;    
    align-items: center;    
    margin: 20px;  
  }
    
    @media (max-width:800px){   
    .cal{
    display: flex;    
    flex-direction: column;    
    justify-content: center;    
    height: 80vh;
    }
    
    .content{   
    margin-top: 30px;   
    }
    
    }   
    .content{   
    /* border: 4px solid rgb(212, 205, 205); */   
    padding: 7px;   
    border-radius: 10px;
    box-shadow: 2px 1px 1px 11px rgba(74, 71, 71, 0.418);

    }
    
    .buttons{  
    display: flex;   
    flex-direction: column;    
    justify-content: space-between;
    }
    
    .buttons .row1,.row2,.row3,.row4,.row5{   
    display: flex;   
    justify-content: space-between;    
    margin-top: 2px;  
     
    }
    
    button{    
    font-size: 38px;    
    padding: 15px;    
    width: 70px;   
    height: 75px;    
    margin: 1.5px;    
    border-radius: 37px;   
    border: none; 
       
    }
    
    button:hover{   
    background-color: black; 
    color: white;    
    border: 2px solidwhite;    
    }
    
    .rowend{    
    width: 100%;    
    display: flex;    
    justify-content: space-between;    
    margin-top: 2px;   
    }
    
    .row{    
    width: 75%;    
    }

    .equal{
    background-color: green !important;   
    }   

    /* Input field */
    .inputbox{
    display: flex;
    display: flex;   
    flex-direction: column;   
    justify-content: center;    
    align-items: center;   
    /* height: 10vh; */    
    margin-bottom: 8px;   
    border: 2px solid rgb (212, 205, 205);    
    padding: 10px;    
    border-radius: 10px;    
    background-color: black;    
    color: whitesmoke;
    } 

    .inputbox p{    
    font-size: 22px;    
    height: 20px;    
    }
    
    #input{    
    font-size: 30px;   
    border: none;   
    outline: none;    
    background-color: transparent;    
    color: white;   
    height: 40px;   
    font-weight: bold;   
    }
    
    .btnclear, .btnMinus,.btnPlus,.btnRemove,.equal,.btnDiv,.btnMul{
    background-color: rgb(0, 163, 245);
    color:black;
    font-weight: bold;
    font-size: 25px;
    }

    .btnRemove{
    background-color: rgb(5, 159, 62);
    color: black;
    font-weight: bold;
    }

    .clear{
    width: 20%;
    }